@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

.container {
    padding: 56px;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    padding: 12px 32px;
    background-color:  rgb(100, 21, 255);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: white;
}

h4 {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    margin-bottom: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    color: #7c8ba1;
    margin-bottom: 16px;
    line-height: 1.5;
}


.text-purple {
    color: rgb(100, 21, 255);
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 8px;
}

#steps,
#values,
#testimonials {
    height: 70vh;
}

#faqs {
    height: 100vh;
}

#quality-work {
    height: 70vh;
}

#features {
    height: 85vh;
}

#pricing {
    margin-bottom: 200px;
}

#get-started {
    margin-bottom: 100px;
}

.no-curser {
    cursor: none;
}



/*

NAV 

*/




nav {
    height: 80px;
    display: flex;
    padding-bottom: 100px;
}

.logo {
    width: 100%;
}

.logo__wrapper {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 44px;
}


.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-top: 30px;
}

.nav__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}


.nav__link:hover {
    color: rgb(100, 21, 255);
    text-decoration: solid underline 2px;
    text-underline-offset: 10px;
}


.menu__link:hover {
    color: rgb(100, 21, 255);
    text-decoration: solid underline 3px;
    text-underline-offset: 20px;


}

.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}




li {
    list-style-type: none;
}

ul {
    display: flex;
}

.treact__text {
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
}


.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: all 200ms ease;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    visibility: visible;    
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    cursor: not-allowed;

}

.menu__btn--sign-up {
    padding: 20px 50px;
    font-size: 35px;
    margin-top: 42px;
    cursor: not-allowed;
}

.btn__menu--close {
    position: absolute;
    top: 30px;
    right: 50px;
    padding: 8px;
    color: white;
}



@media (max-width: 850px) {

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }
}





/*

HEADER 

*/

header {
    height: calc(70vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}



.header__img--wrapper {
    width: 100%;
}

.header__img {
    width: 100%
}

.header__info--wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.header__title {
    font-weight: 700;
}

.fortune__img {
    width: 100%;
}

.fortune__img--wrapper {
    width: 100%;
    max-width: 400px;
    opacity: .6;
}


/* EMAIL INPUT  */

.email__border {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}

.email__text {
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.175);
    font-weight: 700;
    border-radius: 50px;
    padding-left: 20px;
    
}

.header__footer--text {
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
}

.email__btn {
    position: absolute;
    right: 10px;
    font-size: 16px;
    padding: 20px 32px;
    background-color:  rgb(100, 21, 255);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    cursor: not-allowed;
    
}
/*

FEATURES 

*/



.features__heading,
.features__title,
.features__para {
    text-align: center;
}

.features__para {
    width: 100%;
    max-width: 600px;
    padding-top: 8px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 24px;
}

.features__wrapper {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.features {
    display: flex;
    width: calc(100% / 3);
    margin: 0 auto;
    padding: 30px 70px;

}

.title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 12px;
    width: 100%;
}

.features__info {
    margin-left: 18px;
}

.features__img {
    width: 1.5rem;
    height: 1.5rem;
}

.features__img--border {
    border: solid 1px lightgrey;
    border-radius: 50%;
    padding: 1.25rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-self: start;
}



/*

QUALITY WORK 

*/



.quality-work__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.quality__work-info--wrapper {
    width: 95%;
    margin-right: 24px;
}

.quality-work__img--wrapper {
    width: 100%;
    border: solid rgb(230, 228, 228) 1px;
}

.quality-work__img {
    width: 100%;
}

/*

STEPS 

*/



.steps__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.steps__img--wrapper {
    width: 55%;
}

.steps__img {
    width: 100%;
}

.steps__info--wrapper {
    display: flex;
    flex-direction: column;
}

.steps,
.step__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.step {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    opacity: .2;
}

.steps__sub-para {
    font-size: 14px;
}

.steps__sub-title {
    font-size: 19px;
    font-weight: 600;
}

/*

VALUES 

*/



.values__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.values__info--wrapper {
    width: 85%;
}

.values__sub--container {
    display: flex;
}

.affordable {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}

.fa-briefcase {
    height: 1.25rem;
    width: 1.25rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__icon--wrapper,
.values__icon-2--wrapper {
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.values__icon--wrapper {
    background-color: rgb(154 230 180);
    color: rgb(54, 138, 83);
}

.values__icon-2--wrapper {
    background-color: rgb(254 178 178);
    color: rgb(158, 44, 44);
}

.values__sub-title {
    font-size: 20px;
}

.values__sub-wrapper-1 {
    padding: 24px 40px 0 0;
}

.values__img {
    width: 100%;
}

.values__img--wrapper {
    width: 100%;
}

/*

PLAN 

*/



.pricing__sub--wrapper {
    display: flex;
    gap: 3%;
}

.pricing__plan--border,
.pricing__plan--border-2 {
    border: solid lightgrey 2px;
    border-radius: 8px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 3);
    position: relative;
}

.pricing__plan--border-2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}


.pricing__plan--header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 32px 0;

}

.pricing__plan--features {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 0 32px 0;
    border-top: solid 2px lightgrey;
    border-bottom: solid 2px lightgrey;
}

.plan__name {
    font-size: 20px;
    font-weight: 700;
}

.plan__price {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}

.duration {
    font-weight: 800;
    opacity: .4;
}

.pricing__main--feature {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    

}

.pricing__sub--feature {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.plans__button,
.plans__button-2 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 20px 64px;
    border-radius: 50px;
    border: none;
    margin: 32px 0 0 0;
}

.plans__button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}

.plans__button-2 {
    color: rgb(76, 81, 191);
}



.highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.blue {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.red {
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);

}

.white {
    color: white;
}

.pricing__header--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    gap: .5rem;
}

.pricing__header--para {
    max-width: 80%;
}

/*

TESTIMONIALS 

*/



.testimonials__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.testimonials__img--wrapper {
    width: 100%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__info--wrapper {
    width: 100%;
}


.testimonials__profile-pic--wrapper {
    width: 20%;
}

.testimonials__profile-pic {
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
}

.profile__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__arrows {
    position: absolute;
    right: 0;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
}

.arrow {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    color: #5906ff;
    border-radius: 50px;
    transition: all 400ms ease;
}

.arrow:hover {
    background-color: #e2e0e0 ;
}

.testimonials__sub--wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: .9rem;
}

.testimonials__sub-para {
    font-size: 16px;
    font-weight: 600;
    color: rgb(147, 144, 144);
}

.stars {
    color: rgb(246, 173, 85);
    font-size: 17px;
}

.profile__position {
    position: relative;
    top: 4px;
    opacity: .4;
    font-weight: 600;
}

/*

FAQS 

*/
 



.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    gap: 1.5rem;
    margin-top: 60px;
}

.faqs__para {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
} 

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(237 242 247);
    padding: 18px 35px;
    border-radius: 6px;
    transition: all ease 400ms;
}
 
.faq:hover {
    background-color: rgba(20, 51, 110, 0.141);
    cursor: no-drop;
}


/*

GET STARTED

*/


.get-starterd__wrapper {
    background-color: rgb(100, 21, 255);
    color: white;
    display: flex;
    height: 280px;
    width: 100%;
    padding: 0 100px;
    border-radius: 8px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.get-started__heading {
    font-size: 30px;
    font-weight: 700;
    max-width: 50%;
}

.btn__wrapper {
    display: flex;
    gap: 1rem;
}


.btn-1,
.btn-2 {
    padding: 24px 45px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.btn-1 {
    background-color: rgb(245, 101, 101);
    border: none;
    transition: all ease 300ms;
}

.btn-2 {
    background-color: rgb(100, 21, 255);
    border: solid 1px rgba(255, 255, 255, 0.491);
    transition: all ease 300ms;
}

.btn-2:hover {
    background-color: white;
    border: solid 1px white;
    color: rgb(100, 21, 255);
}

.btn-1:hover {
    background-color: rgb(207, 73, 73);
}

/*

FOOTER 

*/

#footer {
    height: 50vh;
    background-color: #5906ff;
    position: relative;
    padding: 100px 30px;
}

.footer__row {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer__header--container {
    display: flex;
    justify-content: space-between;
}



.footer__treact {
    width: 32px;
}
    
.footer__footer--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -200px;
}



.footer__treact--wrapper {
    display: flex;
    align-items: center;
}

.footer__link--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-size: 14px;
}

.footer__main-link {
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 16px;
}

.footer__social--wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 30px;
}

.footer__treact--text {
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin-left: 8px;
}

.footer__copy {
    color: rgba(255, 255, 255, 0.685);
}

.offset__border {
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.203) 1px;
    position: absolute;
    bottom: -90px;
}

/*

MEDIA QUERIES 

*/






@media (max-width: 1274px) {
    
    #landing {
        padding: 0 56px;
    }

    header,
    #features,
    #quality-work,
    #steps,
    #values,
    #pricing,
    #testimonials,
    #faqs,
    #get-started {
        height: auto;
    } 
    
    /*
    
    LANDING 
    
    */

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
    }

  
    .header__container {
    justify-content: space-between;
    padding: 80px 0;
    height: auto;

    }

    .header__img {
        width: 100%;
    }

    .header__img--wrapper {
        width: 550px;
    }

   

    .header__info--wrapper {
        width: 500px;
    }



    /*
    
    FEATURES 
    
    */

    .features {
        padding: 20px 30px;
    }

    /*
    
    QUALITY WORK 
    
    */

    .quality-work__img--wrapper {
        border: none;
    }

    .quality-work__img {
        border: solid 1px rgba(211, 211, 211, 0.585);
    }

    .features__sub-para {
        font-size: 16px;
        line-height: 2;
    }

    /*
    
    STEPS 
    
    */

    .pricing__header--wrapper {
        max-width: 70%;
    }

    /*
    
    FAQS 
    
    */

    .faqs {
        max-width: 85%;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
        color: black;
    }

    .header__title {
        font-size: 30px;
    }

    .header__container {
        flex-direction: column;
    }

    .header__info--wrapper {
        gap: 1rem;
        align-items: center;
    }

    .header__title {
        width: 510px;
    }

    .email__border {
        height: 70px;
        width: 90%;
    }

    
    
    .email__btn {
        padding: 18px 32px;
        
    }

    .email__text {
        border: solid 1px rgb(203, 203, 203);

    }

    /*
    
    FEATURES 
    
    */

    .features__wrapper {
        padding: 0 40px;
    }

    .features {
        width: calc(100% / 2);
    }

    .features__title {
        font-size: 48px;
    }

        /*
        
        QUALITY WORK 
        
        */

        .quality__work-info--wrapper {
            padding-right: 12px;
        }

        /*
        
        STEPS 
        
        */

        .steps {
            margin-top: 30px;
        }

        /*
        
        VALUES 
        
        */

        .values__sub--container {
            flex-direction: column;
            margin-bottom: 30px;
        }

        .values__sub-wrapper-1 {
            width: 100%;
            max-width: 80%;
        }

        /*
        
        PRICING 
        
        */

        .pricing__header--wrapper {
            width: 600px;
        }
        
        .pricing__sub--wrapper {
            flex-direction: column;
            align-items: center;
            gap: 3rem;

        }

        .pricing__plan--border,
        .pricing__plan--border-2 {
            width: 100%;
            max-width: 400px;
            border: solid rgba(211, 211, 211, 0.377) 2px;
        }

        .pricing__title {
            font-size: 48px;
            max-width: 600px;
        }

        /*
        
        TESTIMONIALS 
        
        */

        .profile__wrapper {
            gap: 1rem;
            flex-direction: column;
            align-items: center;
        }

        .profile__arrows {
            position: static;
        }

        .testimonials__profile-pic--wrapper {
            width: auto;
        }


        /*
        
        FAQS
        
        */

        .faqs__title {
            font-size: 48px;
        }

        .faqs {
            max-width: 100%;
        }

        .faq {
            font-size: 18px;
        }

        .faqs__q {
            font-size: 18px;
            font-weight: 600;
        }

        /*
        
        GET STARTED 
        
        */

        .get-starterd__wrapper {
            flex-direction: column;
            padding: 60px 0;
            height: 300px;
        }

        .btn-1,
        .btn-2 {
            padding: 18x 45px;
        }

        .get-started__heading {
            text-align: center;
        }

        /*
        
        FOOTER 
        
        */

        #footer {
            height: 45vh;
            padding: 90px 30px 0 30px;
        }
}










@media (max-width: 768px) {
    p {
        font-size: 14px;
        opacity: .8;
    }


    .features__title {
        width: 100%;
    }

    .features__para {
        font-size: 14px;
        opacity: .8;
    }

    .features__wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .features {
        padding: 12px 0;
        width: 325px;
    }

    .fortune__img--wrapper {
        max-width: 600px;
        opacity: .6;
        margin-bottom: 35px;
    }

    /*
    
    FEATURES 
    
    */

        .features__wrapper {
            gap: 2rem;
         }

        /* 
        
        QUALITY WORK 
        
        */
        
        .quality-work__container {
            flex-direction: column-reverse;
            align-items: center;
        }

        .quality-work__img--wrapper {
            width: 475PX;
            margin-bottom: 48px;
        }

        .quality__work-info--wrapper {
            text-align: center;
            width: 420px;
        }

        /*
        
        STEPS 
        
        */

        .steps__container {
            flex-direction: column;
        }

        .steps__img--wrapper {
            width: 455px;
        }

        .step {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .6rem;
        }

        .step__info {
            width: 320px;
        }

        .steps__info--wrapper {
            text-align: center;
        }

        .step__number {
            font-weight: 800;
        }

        .steps__sub-title {
            font-size: 20px;
        }

        /*
        
        VALUES 
        
        */

        .values__container {
            flex-direction: column-reverse;
        }

        .values__img--wrapper {
            width: 460px;
        }

        .values__info--wrapper {
            text-align: center;
            width: 70%;
        }

        .values__sub--container {
            align-items: center;
            gap: 2rem;
            
        }

        .values__sub-wrapper-1 {
            padding: 0;
        }

        .affordable {
            display: flex;
            justify-content: center;
        }

        .values__info--para {
            font-size: 16px;
        }


        /*
        
        PRICING 
        
        */

        .pricing__header--wrapper {
            max-width: 100%;
        }

        /*
        
        TESTIMONIALS 
        
        */

        .testimonials__container {
            display: flex;
            flex-direction: column;
            width: 450px;
            text-align: center;
        }

        .user__experience {
            font-size: 20px;
        }

        /*
        
        GET STARTED 
        
        */

        .get-started__heading {
            max-width: 510px;
        }

        /*
        
        FOOTER 
        
        */

        .footer__header--container {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    
        .footer__link--wrapper {
            width: calc(100% / 3);
            padding-bottom: 48px;

        }

        #footer {
            height: 900px;
        }

        .footer__footer--container {
            flex-direction: column;
            gap: 2.5rem;
            bottom: -300px;
        }


}









@media (max-width: 576px) {

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }

    h4 {
        font-size: 14px;
    }
        
    /*
    
    HEADER 
    
    */

    .header__title {
        width: 480px;
        text-align: center;
    }

    .header__para {
        font-size: 16px;
        text-align: center;
        max-width: 80%;
    }

    

    .email__border {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 100px;

    }

    .email__text {
        height: 50px;
        padding: 25px 50px;
    }

    .email__btn {
        position: static;
        width: 100%;
    }

    .fortune__img--wrapper {
        width: 100%;
        max-width: 450px;
    }

    .header__img {
        width: 100%;
    }

    .header__img--wrapper {
        width: 100%;
        max-width: 500px;
    }


    /*
    
    FEATURES 
    
    */

    .features__title {
        font-size: 36px;
    }

    .features__wrapper {
        gap: 5rem;
        text-align: center;
    }

    .features {
        flex-direction: column;
        gap: .5rem;
    }

    /*
    
    QUALITY__WORK 
    
    */

    .quality__work--heading {
        font-size: 30px;
    }

    /*
    
    VALUES 
    
    */

    .values__info--wrapper {
        width: 100%;
    }

    .pricing__title {
        font-size: 36px;
    }

    .pricing__header--para {
        max-width: 100%;
    }

    /*
    
    PRICING  
    
    */

    .plan__price {
        font-size: 36px;
    }

    /*
    
    TESTIMONIALS 
    
    */

    .profile__wrapper {
        flex-direction: column;
    }

    .profile__arrows {
        position: static;
    }

    /*
    
    FAQS 
    
    */

    .faqs__title {
        font-size: 36px;
    }

    .faqs__para {
        max-width: 100%;
    }

    .faq {
        padding: 18px 30px;
    }

    /*
    
    GET STARTED 
    
    */

    .get-started__heading {
        font-size: 24px;
    }

    .btn__wrapper {
        flex-direction: column;
        margin: 24px 0;
    }

    .get-starterd__wrapper {
        height: 325px;
    }

    .btn-1,
    .btn-2 {
        padding: 16px 32px;
    }

    .footer__link--wrapper {
        width: calc(100% / 4);
    }

    .footer__header--container {
        justify-content: center;
        text-align: center;

    }


}

